language: rust
rust:
  - nightly
sudo: false
notifications:
  email: false
cache: cargo
before_script: (cargo install rustfmt || true)
script:
  - cargo fmt -- --write-mode=diff
  - cargo build
  - cargo test
